@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next,
.swiper-button-prev {
    color: red;
}

.swiper-pagination-bullet {
    background-color: #d3d2d2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: red;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
    color: white;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}

.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
}

.social:hover {
    background-color: #db241b;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: red;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Añadido para centrar verticalmente en dispositivos móviles */
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #a7a7a7;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid red;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
    text-decoration: none; /* Añadido para quitar subrayado en botones */
}

.btn-1:hover {
    background-color: red;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    width: 100%; /* Ajustado tamaño de imagen del slider */
}

.products {
    background-color: #0d0d0d;
    padding: 100px 0;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background aese 0,2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid red;
    color: white;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 100%; /* Ajustado tamaño de imagen de producto */
    height: auto; /* Añadido para mantener proporciones */
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Añadido para separar imagen y texto */
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 100%; /* Ajustado tamaño de imagen de información */
    height: auto; /* Añadido para mantener proporciones */
}

.info-txt {
    width: 45%; /* Ajustado ancho de texto */
}

.info-txt h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #db241b;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover {
    background-color: #ab1c15;
}

.horario {
    padding: 100px 0;
    background-color: #0d0d0d;
}

.horario-info h2 {
    font-size: 75px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between; /* Añadido para separar horarios */
}

.txt {
    color: white;
}

.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map {
    filter: grayscale(100%) invert(92%);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #1e1e1e;
    flex-wrap: wrap; /* Añadido para ajustar a versiones móviles */
}

.footer .links {
    flex: 1;
    margin-right: 30px;
    margin-bottom: 30px; /* Añadido para separar bloques en versión móvil */
}

.footer .links h4 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer .links ul {
    padding: 0;
    list-style: none;
}

.footer .links ul li {
    margin-bottom: 10px;
}

.footer .links ul li a {
    color: #a7a7a7;
    font-size: 18px;
}

.footer .links ul li a:hover {
    color: red;
}

.footer .socials {
    display: flex;
}

.footer .socials .social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
}

.footer .socials .social:hover {
    background-color: #db241b;
}

.footer .socials .social img {
    margin: 8px 0 0 10px;
}

@media (max-width: 991px) {
    .menu {
        padding: 10px;
        justify-content: space-between; /* Añadido para centrar elementos en versión móvil */
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
        width: 100%; /* Añadido para ocupar todo el ancho */
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center; /* Añadido para centrar elementos de menú */
    }

    #menu:checked ~ .navbar {
        display: flex;
        flex-direction: column; /* Añadido para alinear elementos en columna */
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0;
        width: 300px;
    }

    .tabs {
        padding: 50px 38px; /* Añadido px faltante */
    }

    .tabs label {
        width: 33%;
        text-align: center;
    }

    .info {
        padding: 30px;
        flex-direction: column;
        align-items: center; /* Añadido para centrar elementos */
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }
}
